<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <style>
        .card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 50%;
    height:100px;
    object-fit: cover;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px;
    margin-bottom: 20px;
}
    </style>
</head>
<body><section>
    <div class="col-md-4">
        <div class="card">
            <img src="C:\Users\Victus\OneDrive\Desktop\.personal\home\static\author.jpg" alt="contact">
            <div class="card-body">
                <h5 class="card-title">NAME:JOWEN</h5>
                <p class="card-text">mobile:999999999</p>
                <p class="card-text">Rating: 4.7/5</p>
                <a href="#" class="btn btn-primary">Order Now</a>
            </div>
        </div>
    </div>
</div>
</div>
</section>
</body>
</html>